[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=opencpn-poweroff
Comment=Clean opencpn exit
Exec=/usr/bin/bash -c "$HOME/bin/opencpn-stop"
OnlyShowIn=XFCE;
RunHook=2
StartupNotify=false
Terminal=false
Hidden=false

