[Unit]
Description=Wait until power button is pushed and run poweroff

[Service]
Type=simple
ExecStart=/usr/bin/sudo %h/bin/power-btn

ExecStop=-/usr/bin/sudo /usr/bin/pkill -f  %h/bin/power-btn
ExecStop=%h/bin/opencpn-stop
ExecStop=/usr/bin/bash -c "while pgrep power-btn > /dev/null; do sleep 1; done"
ExecStop=/usr/bin/sudo systemctl poweroff
TimeoutStopSec=5

[Install]
WantedBy=default.target
