[Unit]
Description=Wait until power button is pushed and run poweroff

[Service]
Type=simple
ExecStart=/usr/bin/sudo %h/bin/power-btn

ExecStop=/usr/bin/sudo systemctl poweroff

[Install]
WantedBy=default.target
